<div class="message">
  <% if current_user == message.user %>
    <%= render 'messages/write_message', message: message %>
  <% else %>
    <%= render 'messages/read_message', message: message %>
  <% end %>
</div>
