<div class="message mt-2">
  <div class="card d-inline-flex p-2" >
    <div class="card-body">
      <p class="card-title border-bottom">
        <%= simple_format(message.user.username) %> 
      </p>
      <p class="card-text"><%= simple_format(message.content) %></p>
    </div>
  </div>
</div>
