<div class="message mt-2">
  <div class="card d-inline-flex p-2" >
    <div class="card-body">
      <p class="card-title border-bottom">
        <%= "#{message.user.username}" %> 
      </p>
      <p class="card-text"><%= "#{message.content}" %></p>
    </div>
  </div>
</div>
