<div class="message mt-2 clearfix">
    <div class="card d-inlineflex float-right">
      <div class="card-body">
        <p class="card-text"><%= "#{message.content}" %></p>
      </div>
    </div>
</div>