<h1>Chat room</h1>
<!-- チャットを見ているユーザの情報(id)を格納 -->
<div id="read_user_id" data-read_user_id="<%= current_user.id %>"></div>
<div id="messages", data-room_id="<%= @room.id %>">
  <%= render @messages %>
</div>
<div class="input fixed-bottom py-3 bg-primary">
  <form class="container">
    <div class="form-group">
      <label><h3 class="text-white">Message post</h3></label>
      <textarea type="text" rows="2" data-behavior="room_speaker" class="form-control"></textarea>
    </div>
  </form>
</div>